<div class="wrapper-sidebar sidebar-default">
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input  type="text" class="form-control input-sm" ng-model="filter" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- / .input-group -->
    </div>
    <ul class="nav sidebar-menu" id="side-menu" ng-transclude>
    </ul>
    <!-- / #side-menu -->
</div>
