<div class="wrapper-sidebar sidebar-default">
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control input-sm" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- / .input-group -->
    </div>
    <ul class="nav sidebar-menu" id="side-menu">
        <li>
            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Menu 1</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Menu 2<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href=""> Menu 2.1</a>
                </li>
                <li class="last-child">
                    <a href="#"> Menu 2.2</a>
                </li>
            </ul>
            <!-- / .nav-second-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-sitemap"></i> Menu 3<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#"> Menu 3.1</a>
                </li>
                <li>
                    <a href="#"> Menu 3.2</a>
                </li>
                <li class="last-child">
                    <a href="#"> Menu 3.3 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#"> Menu 3.3.1</a>
                        </li>
                        <li>
                            <a href="#"> Menu 3.3.2</a>
                        </li>
                        <li>
                            <a href="#"> Menu 3.3.3</a>
                        </li>
                        <li class="last-child">
                            <a href="#"> Menu 3.3.4</a>
                        </li>
                    </ul>
                    <!-- / .nav-third-level -->
                </li>
            </ul>
            <!-- / .nav-second-level -->
        </li>
    </ul>
    <!-- / #side-menu -->
</div>
