<yk-wrapper yk-toggle-sidebar="template.withSidebar" window-width="{{windowWidth}}">
    <yk-sidebar filter="template.filter">
        <li>
            <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-dashboard fa-fw"></i> Tables<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a ui-sref="template.simple-tables"> Simple Tables</a>
                </li>
                <li class="last-child">
                    <a ui-sref="template.data-tables"> Data Tables</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Menu 2<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href=""> Menu 2.1</a>
                </li>
                <li class="last-child">
                    <a href="#"> Menu 2.2</a>
                </li>
            </ul>
            <!-- / .nav-second-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-sitemap"></i> Menu 3<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#"> Menu 3.1</a>
                </li>
                <li>
                    <a href="#"> Menu 3.2</a>
                </li>
                <li class="last-child">
                    <a href="#"> Menu 3.3 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#"> Menu 3.3.1</a>
                        </li>
                        <li>
                            <a href="#"> Menu 3.3.2</a>
                        </li>
                        <li>
                            <a href="#"> Menu 3.3.3</a>
                        </li>
                        <li class="last-child">
                            <a href="#"> Menu 3.3.4</a>
                        </li>
                    </ul>
                    <!-- / .nav-third-level -->
                </li>
            </ul>
            <!-- / .nav-second-level -->
        </li>
    </yk-sidebar>
    <yk-wrapper-content>

        <section class="content-header">
            <h1>
                Simple Tables
                <small>preview of simple tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li><a href="#">Tables</a>
                </li>
                <li class="active">Simple</li>
            </ol>
        </section>

        <ui-view></ui-view>

    </yk-wrapper-content>
</yk-wrapper>
